---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: etcdclusters.operator.etcd.io
spec:
  group: operator.etcd.io
  names:
    kind: EtcdCluster
    listKind: EtcdClusterList
    plural: etcdclusters
    singular: etcdcluster
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: EtcdCluster is the Schema for the etcdclusters API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: EtcdClusterSpec defines the desired state of EtcdCluster.
            properties:
              size:
                description: Size is the expected size of the etcd cluster.
                type: integer
              storageSpec:
                description: StorageSpec is the name of the StorageSpec to use for
                  the etcd cluster. If not provided, then each POD just uses the temporary
                  storage inside the container.
                properties:
                  accessModes:
                    type: string
                  pvcName:
                    type: string
                  storageClassName:
                    type: string
                  volumeSizeLimit:
                    anyOf:
                    - type: integer
                    - type: string
                    pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                    x-kubernetes-int-or-string: true
                  volumeSizeRequest:
                    anyOf:
                    - type: integer
                    - type: string
                    pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                    x-kubernetes-int-or-string: true
                required:
                - volumeSizeRequest
                type: object
              tls:
                description: TLS is the TLS certificate configuration to use for the
                  etcd cluster and etcd operator.
                properties:
                  provider:
                    type: string
                  providerCfg:
                    properties:
                      autoCfg:
                        type: object
                      certManagerCfg:
                        properties:
                          commonName:
                            type: string
                          dnsNames:
                            items:
                              type: string
                            type: array
                          duration:
                            description: |-
                              A Duration represents the elapsed time between two instants
                              as an int64 nanosecond count. The representation limits the
                              largest representable duration to approximately 290 years.
                            format: int64
                            type: integer
                          ipAddresses:
                            items:
                              type: string
                            type: array
                          issuerKind:
                            type: string
                          issuerName:
                            type: string
                          organizations:
                            items:
                              type: string
                            type: array
                        required:
                        - commonName
                        - dnsNames
                        - duration
                        - ipAddresses
                        - issuerKind
                        - issuerName
                        - organizations
                        type: object
                    type: object
                type: object
              version:
                description: Version is the expected version of the etcd container
                  image.
                type: string
            required:
            - size
            - version
            type: object
          status:
            description: EtcdClusterStatus defines the observed state of EtcdCluster.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
